<h1>Say#hello CHANGED</h1>
<p>Find me in app/views/say/hello.html.erb</p>
It is |<%= @time %>|<br/>

<a href="/say/goodbye">Exit</a>

<% puts "testme" %>
<%= 'adsad' %>

<% 99.downto(96) do |number| %>
  <%= number %> bottles of beer...
<% end %>
